/*color palette: 
808d8e, 766c7f, 947eb0, a3a5c3, a9d2d5*/
body {
    background-color: #a3a5c3;
    color: #766c7f;
    padding: 5%;
    font-family: 'Open Sans', "Palatino Linotype", "Book Antiqua", Palatino, sans-serif;
}

p{
    font-size: 125%;
}

label{
    font-size: 125%;
    color: #766c7f;
}

#tempoinstructions{
    font-size:200%;
}

.outline{
    border:1px solid #000000;
}

#tempo, #main, #about{
    padding-top:2%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom:5%;
    background-color: #c6c7de;
    position:relative;

}

#main{
    padding-top: 5%;
}

#about p{
    font-size: 115%;
}

p a{
    margin-left: 2%;
}

#footer {
    color: #372945;
}

#tempo select{
    width: 10% ;
    font-size:110%;
    margin:auto;
}

#tempo input{
    width:15%;
    font-size:110%;
    margin:auto;
}

#inputInfo{
    text-align: center;
}

.instructions{
    font-size:100%;
}

#okayButton{
    position:absolute;
    right:15%;
}

.inputButtonSet{
    text-align: center;
}

canvas{
    margin-left: -15%;
}
