<div id="about">
<a class="btn btn-default" href="/">Home</a>
<!--
<button class="btn btn-default" ng-click="resetNotes()">Reset Notes</button>
-->
    <h2>About the App</h2>

<p class="instructions">I made this tool because often when I was arranging pop songs, I found it difficult to figure out the rhythm. The idea behind this tool is you just click when a note begins, and the computer takes care of the rest and displays the song's rhythm for you. 

Further plans for the app will be to augment the rhythm calculation with a more advanced markov-chain-like algorithm to increase accuracy.
</p>
   
</div>