<div id="main" ng-keydown="keyPressed($event)">
<a class="btn btn-default" href="/">Reset All</a>
<button class="btn btn-default" ng-click="resetNotes()">Reset Notes</button>
<br>
<br>   
<p class="instructions">Push the "Start inputting beats" button when ready. At each beat, push the Mark Beat button, or alternatively press the M key on the
    keyboard. When finished, push the "Stop inputting beats" button.</p>
    
<p>Tempo: {{tempo}}</p>
<p>Time signature num: {{timesignum}}/{{timesigdem}}</p>

    <div class="inputButtonSet">
    <button class = "btn btn-default" ng-click="setOrStopBeatClick()">
        <div ng-if="!settingBeat">
        Start inputting beats
         </div>
        <div ng-if="settingBeat">
        Stop inputting beats
        </div>
    </button>

    <button class = "btn btn-default" ng-show="settingBeat" ng-click="markBeatClick()"><span style='text-decoration: underline'>M</span>ark beat</button>
</div>   
<br>
<br>
<!--
<canvas width=300% height=100%></canvas>
-->
</p>
<div id="canvases">
<canvas width=250 height=100></canvas>
</div>
<!--<br>
<span style='margin:10px' ng-repeat='noteValue in noteValues track by $index'>   {{noteValue}}  </span>

<ul style='list-style-type: none; list-style:initial; display:inline' ng-repeat='noteValue in noteValues track by $index'>
    <li>
        <figure>
            <img ng-src="../images/{{getImageName(noteValue)}}.png" alt="{{noteValue}}" />
            <figcaption>lyrics</figcaption>
        </figure>
        {{getImageName(noteValue)}}
    </li>
</ul>-->
   
</div>